
        .tab-v1__nav-pull-left {float: left; width: 71%; border: 0 !important;}
        .tab-v1__nav-pull-right {float: right; width: 27%;}
        .tab-v1__nav-border {border-bottom: solid 2px #3498db;}

        @media (max-width: 767px) {
            .tab-v1__nav-pull-left {float: left; width: 88%; border: 0 !important;}
            .tab-v1__nav-pull-right {float: right; width: 10%;}
        }

        .btn.btn-u-xss {padding: 2px 6px;}
        .btn-u.btn-u-xss {padding: 3px 6px;}
    