// Place all the styles related to the transaction controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form{
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width:930px;
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding-right: 50px;
}

button.search{
  margin-bottom: 5px;
  margin-left: 0px;
}

table.info{
  margin-left: 15px;

  & td.type1{
    width:180px;
    padding-bottom: 15px;
  }

  & td.type2{
    width:360px;
  }
}

#search-transaction{
  width:550px;
  margin-left: 5px;
  margin-right: 0px;
}
